*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(183, 183, 238);
}
.counterStyling{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("station.png");
    background-size: cover;
    min-width: 30%;
    max-width: 30%;
    height: 60vh;
    border-radius: 20px;
    position: relative;
}

 h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
 }
 button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#reset-entries-btn{
    color: black;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    background: rgba(0, 85, 100, 0.5);
}
p{
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

@media (max-width: 791px){
    h1{
        font-size: 1.6em;
    }
    button{
        width: 50%;
    }
}

@media (max-width: 650px){
    h1{
        font-size: 1.4em;
    }
    button{
        width: 50%;
    }
}
